## Python code and workflow for data import, merging and cleaning

### 1) Import packages and files

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
%matplotlib inline
pd.set_option('display.max_rows', 500)

In [2]:
cu_mined_70_80 = pd.read_csv('Cu_Mined_1970_80_edit.csv')
cu_mined_81_91 = pd.read_csv('Cu_Mined_1981_91_edit.csv')
cu_mined_92_02 = pd.read_csv('Cu_Mined_1992_2002_edit.csv')
cu_mined_03_13 = pd.read_csv('Cu_Mined_2003_2013_edit.csv')
cu_mined_14_18 = pd.read_csv('Cu_Mined_2014_2018_edit.csv')

In [3]:
cu_mined_70_80.head()

,Country,yr1970,yr1971,yr1972,yr1973,yr1974,yr1975,yr1976,yr1977,yr1978,yr1979,yr1980
0,Albania,6000.0,6500.0,6700.0,7000.0,7000.0,9000.0,10000.0,10000.0,11500.0,9700.0,11500.0
1,Algeria,574.0,514.0,428.0,353.0,350.0,378.0,400.0,400.0,200.0,200.0,200.0
2,Argentina,461.0,497.0,1125.0,284.0,315.0,380.0,265.0,169.0,319.0,89.0,182.0
3,Australia,157790.0,177261.0,185843.0,220335.0,251340.0,218961.0,218480.0,221579.0,222111.0,237614.0,243541.0
4,Austria,2262.0,2575.0,2231.0,2713.0,2612.0,1923.0,1138.0,NaN,NaN,NaN,NaN

### 2) Merge DataFrames

In [4]:
cu_mined_70_91 = pd.merge(cu_mined_70_80, cu_mined_81_91, left_on='Country',right_on='Country', how ='outer')

In [5]:
cu_mined_70_02 = pd.merge(cu_mined_70_91, cu_mined_92_02, left_on='Country',right_on='Country', how='outer')

In [6]:
cu_mined_70_13 = pd.merge(cu_mined_70_02, cu_mined_03_13, left_on='Country', right_on='Country', how='outer')

In [7]:
cu_mined_70_18 = pd.merge(cu_mined_70_13, cu_mined_14_18, left_on='Country', right_on='Country', how='outer')

In [8]:
cu_mined_70_18.head()

,Country,yr1970,yr1971,yr1972,yr1973,yr1974,yr1975,yr1976,yr1977,yr1978,...,yr2009,yr2010,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018
0,Albania,6000.0,6500.0,6700.0,7000.0,7000.0,9000.0,10000.0,10000.0,11500.0,...,2600.0,2672.0,4379.0,5691.0,5087.0,3503.0,2106.0,218.0,0.0,2601.0
1,Algeria,574.0,514.0,428.0,353.0,350.0,378.0,400.0,400.0,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Argentina,461.0,497.0,1125.0,284.0,315.0,380.0,265.0,169.0,319.0,...,143084.0,140300.0,116700.0,135700.0,109600.0,102600.0,61800.0,81900.0,33300.0,17400.0
3,Australia,157790.0,177261.0,185843.0,220335.0,251340.0,218961.0,218480.0,221579.0,222111.0,...,855892.0,871963.0,960649.0,921390.0,1000999.0,978534.0,995881.0,947555.0,849121.0,913336.0
4,Austria,2262.0,2575.0,2231.0,2713.0,2612.0,1923.0,1138.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
cu_mined_70_80.shape, cu_mined_81_91.shape, cu_mined_92_02.shape, cu_mined_03_13.shape,cu_mined_14_18.shape

((69, 12), (61, 12), (56, 12), (60, 12), (57, 6))

In [10]:
cu_mined_70_18.shape

(90, 50)

### 3) Clean data

#### 3.1) Examine the data type and null values in each column

In [11]:
cu_mined_70_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 0 to 89
Data columns (total 50 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  90 non-null     object
 1   yr1970   52 non-null     float64
 2   yr1971   51 non-null     float64
 3   yr1972   55 non-null     float64
 4   yr1973   57 non-null     float64
 5   yr1974   61 non-null     float64
 6   yr1975   63 non-null     float64
 7   yr1976   63 non-null     float64
 8   yr1977   62 non-null     float64
 9   yr1978   62 non-null     float64
 10  yr1979   61 non-null     float64
 11  yr1980   60 non-null     float64
 12  yr1981   60 non-null     float64
 13  yr1982   57 non-null     float64
 14  yr1983   55 non-null     float64
 15  yr1984   55 non-null     float64
 16  yr1985   55 non-null     float64
 17  yr1986   55 non-null     float64
 18  yr1987   52 non-null     float64
 19  yr1988   49 non-null     float64
 20  yr1989   48 non-null     float64
 21  yr1990   48 non-null     float64
 22  yr1991   47 non-null     float64
 23  yr1992   47 non-null     float64
 24  yr1993   46 non-null     float64
 25  yr1994   49 non-null     float64
 26  yr1995   48 non-null     float64
 27  yr1996   48 non-null     float64
 28  yr1997   48 non-null     float64
 29  yr1998   49 non-null     float64
 30  yr1999   49 non-null     float64
 31  yr2000   48 non-null     float64
 32  yr2001   50 non-null     float64
 33  yr2002   50 non-null     float64
 34  yr2003   51 non-null     float64
 35  yr2004   51 non-null     float64
 36  yr2005   51 non-null     float64
 37  yr2006   52 non-null     float64
 38  yr2007   52 non-null     float64
 39  yr2008   52 non-null     float64
 40  yr2009   56 non-null     float64
 41  yr2010   56 non-null     float64
 42  yr2011   56 non-null     float64
 43  yr2012   56 non-null     float64
 44  yr2013   57 non-null     float64
 45  yr2014   57 non-null     float64
 46  yr2015   57 non-null     float64
 47  yr2016   57 non-null     float64
 48  yr2017   57 non-null     float64
 49  yr2018   57 non-null     float64
dtypes: float64(49), object(1)
memory usage: 35.9+ KB

#### 3.2) Fill NaN with zero

In [12]:
cu_mined_70_18.loc[:,'yr1970':'yr2018']=cu_mined_70_18.loc[:,'yr1970':'yr2018'].fillna(0)

In [13]:
cu_mined_70_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 0 to 89
Data columns (total 50 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  90 non-null     object
 1   yr1970   90 non-null     float64
 2   yr1971   90 non-null     float64
 3   yr1972   90 non-null     float64
 4   yr1973   90 non-null     float64
 5   yr1974   90 non-null     float64
 6   yr1975   90 non-null     float64
 7   yr1976   90 non-null     float64
 8   yr1977   90 non-null     float64
 9   yr1978   90 non-null     float64
 10  yr1979   90 non-null     float64
 11  yr1980   90 non-null     float64
 12  yr1981   90 non-null     float64
 13  yr1982   90 non-null     float64
 14  yr1983   90 non-null     float64
 15  yr1984   90 non-null     float64
 16  yr1985   90 non-null     float64
 17  yr1986   90 non-null     float64
 18  yr1987   90 non-null     float64
 19  yr1988   90 non-null     float64
 20  yr1989   90 non-null     float64
 21  yr1990   90 non-null     float64
 22  yr1991   90 non-null     float64
 23  yr1992   90 non-null     float64
 24  yr1993   90 non-null     float64
 25  yr1994   90 non-null     float64
 26  yr1995   90 non-null     float64
 27  yr1996   90 non-null     float64
 28  yr1997   90 non-null     float64
 29  yr1998   90 non-null     float64
 30  yr1999   90 non-null     float64
 31  yr2000   90 non-null     float64
 32  yr2001   90 non-null     float64
 33  yr2002   90 non-null     float64
 34  yr2003   90 non-null     float64
 35  yr2004   90 non-null     float64
 36  yr2005   90 non-null     float64
 37  yr2006   90 non-null     float64
 38  yr2007   90 non-null     float64
 39  yr2008   90 non-null     float64
 40  yr2009   90 non-null     float64
 41  yr2010   90 non-null     float64
 42  yr2011   90 non-null     float64
 43  yr2012   90 non-null     float64
 44  yr2013   90 non-null     float64
 45  yr2014   90 non-null     float64
 46  yr2015   90 non-null     float64
 47  yr2016   90 non-null     float64
 48  yr2017   90 non-null     float64
 49  yr2018   90 non-null     float64
dtypes: float64(49), object(1)
memory usage: 35.9+ KB

#### 3.2) Clean string values
Replace country names with official country names using a dictionary of old:new names and .map()

In [14]:
cu_mined_70_18['Country'].tolist()

['Albania',
 'Algeria',
 'Argentina',
 'Australia',
 'Austria',
 'Bolivia',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burma',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Cuba',
 'Cyprus',
 'Czechoslovakia',
 'Ecuador',
 'Finland',
 'France',
 'German Democratic Rep',
 'German Federal Republic',
 'Greece',
 'Guatemala',
 'Haiti',
 'Honduras',
 'Hungary',
 'India',
 'Indonesia',
 'Iran',
 'Ireland, Republic of',
 'Israel',
 'Italy',
 'Japan',
 'Kenya',
 'Korea (Rep. of)',
 'Korea, Dem. P.R. of',
 'Malaysia',
 'Mauritania',
 'Mexico',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Namibia',
 'New Zealand',
 'Nicaragua',
 'Norway',
 'Oman',
 'Papua New Guinea',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Rhodesia',
 'Romania',
 'South Africa',
 'Soviet Union',
 'Spain',
 'Sweden',
 'Taiwan',
 'Turkey',
 'USA',
 'Uganda',
 'United Kingdom',
 'Yugoslavia',
 'Zaire',
 'Zambia',
 'Zimbabwe',
 'Germany',
 'Armenia',
 'Congo, Democratic Republic',
 'Georgia',
 'Kazakhstan',
 'Laos',
 'Macedonia',
 'Pakistan',
 'Russia',
 'Saudi Arabia',
 'Serbia',
 'Serbia and Montenegro',
 'Tanzania',
 'Uzbekistan',
 'Vietnam',
 'Azerbaijan',
 'Dominican Republic',
 'Eritrea',
 'Kyrgyzstan',
 'Slovakia',
 'Tajikistan']

In [15]:
rename_map = {'German Democratic Rep':'Germany','German Federal Republic':'Germany',
              'Ireland, Republic of':'Ireland','Korea (Rep. of)':'South Korea','Korea, Dem. P.R. of':'North Korea',
              'Rhodesia':'Zimbabwe','Soviet Union':'Russia','USA':'United States of America',
              'Congo, Democratic Republic':'Democratic Republic of the Congo','Serbia and Montenegro':'Republic of Serbia',
              'Serbia':'Republic of Serbia','Congo':'Democratic Republic of the Congo','Tanzania':'United Republic of Tanzania',
             'Burma':'Myanmar','Czechoslovakia':'Czechia','Zaire':'Democratic Republic of the Congo'}

In [16]:
cu_mined_70_18['Country'] = cu_mined_70_18['Country'].map(rename_map).fillna(cu_mined_70_18['Country'])

In [17]:
cu_mined_70_18['Country'].tolist()

['Albania',
 'Algeria',
 'Argentina',
 'Australia',
 'Austria',
 'Bolivia',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Myanmar',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Democratic Republic of the Congo',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Ecuador',
 'Finland',
 'France',
 'Germany',
 'Germany',
 'Greece',
 'Guatemala',
 'Haiti',
 'Honduras',
 'Hungary',
 'India',
 'Indonesia',
 'Iran',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Kenya',
 'South Korea',
 'North Korea',
 'Malaysia',
 'Mauritania',
 'Mexico',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Namibia',
 'New Zealand',
 'Nicaragua',
 'Norway',
 'Oman',
 'Papua New Guinea',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Zimbabwe',
 'Romania',
 'South Africa',
 'Russia',
 'Spain',
 'Sweden',
 'Taiwan',
 'Turkey',
 'United States of America',
 'Uganda',
 'United Kingdom',
 'Yugoslavia',
 'Democratic Republic of the Congo',
 'Zambia',
 'Zimbabwe',
 'Germany',
 'Armenia',
 'Democratic Republic of the Congo',
 'Georgia',
 'Kazakhstan',
 'Laos',
 'Macedonia',
 'Pakistan',
 'Russia',
 'Saudi Arabia',
 'Republic of Serbia',
 'Republic of Serbia',
 'United Republic of Tanzania',
 'Uzbekistan',
 'Vietnam',
 'Azerbaijan',
 'Dominican Republic',
 'Eritrea',
 'Kyrgyzstan',
 'Slovakia',
 'Tajikistan']

#### 3.3) Check and remove duplicates in the country column

In [18]:
cu_mined_70_18.Country.value_counts(dropna=False)

Germany                             3
Democratic Republic of the Congo    3
Republic of Serbia                  2
Zimbabwe                            2
Russia                              2
Mongolia                            1
Namibia                             1
Finland                             1
Turkey                              1
Laos                                1
South Korea                         1
Malaysia                            1
Kyrgyzstan                          1
Slovakia                            1
Yugoslavia                          1
United Republic of Tanzania         1
Taiwan                              1
China                               1
South Africa                        1
Kenya                               1
Papua New Guinea                    1
Georgia                             1
Brazil                              1
Chile                               1
Portugal                            1
Canada                              1
Tajikistan                          1
Macedonia                           1
Botswana                            1
Indonesia                           1
Hungary                             1
Czechia                             1
Ireland                             1
Colombia                            1
United Kingdom                      1
Zambia                              1
Armenia                             1
Oman                                1
Japan                               1
Pakistan                            1
Ecuador                             1
Romania                             1
India                               1
Mauritania                          1
Vietnam                             1
Algeria                             1
Spain                               1
Italy                               1
Myanmar                             1
Saudi Arabia                        1
North Korea                         1
Argentina                           1
Australia                           1
Cyprus                              1
Israel                              1
Nicaragua                           1
Bolivia                             1
Dominican Republic                  1
Poland                              1
New Zealand                         1
Mexico                              1
Morocco                             1
Sweden                              1
Azerbaijan                          1
Uzbekistan                          1
Peru                                1
Iran                                1
Kazakhstan                          1
Philippines                         1
Albania                             1
Bulgaria                            1
Honduras                            1
Mozambique                          1
Austria                             1
Eritrea                             1
Greece                              1
France                              1
United States of America            1
Uganda                              1
Norway                              1
Cuba                                1
Haiti                               1
Guatemala                           1
Name: Country, dtype: int64

#### Create a for loop that extracts a sub-dataframe of the duplicated country rows and sums the rows to produce one row containing the total mined per year for that country.

In [19]:
country_list=['Democratic Republic of the Congo', 'Germany','Republic of Serbia','Zimbabwe','Russia']
subdf_list=[]
for country in country_list:
    sub_df=(cu_mined_70_18[cu_mined_70_18['Country'] == country])
    summed=sub_df.sum(skipna=True)
    DF = pd.DataFrame(summed)
    subdf_list.append(DF)
subdf_list

[                                                         0
 Country  Democratic Republic of the CongoDemocratic Rep...
 yr1970                                              385948
 yr1971                                              409770
 yr1972                                              443986
 yr1973                                              492223
 yr1974                                              501431
 yr1975                                              465846
 yr1976                                              444356
 yr1977                                              453731
 yr1978                                              473128
 yr1979                                              402416
 yr1980                                              463502
 yr1981                                              506726
 yr1982                                              505485
 yr1983                                              504307
 yr1984                                              500220
 yr1985                                              504335
 yr1986                                              503300
 yr1987                                              502184
 yr1988                                              506320
 yr1989                                              442800
 yr1990                                              352400
 yr1991                                              236100
 yr1992                                              144300
 yr1993                                               60000
 yr1994                                               40642
 yr1995                                               34958
 yr1996                                               40165
 yr1997                                               39651
 yr1998                                               38236
 yr1999                                               33000
 yr2000                                               33000
 yr2001                                               37845
 yr2002                                               27359
 yr2003                                               16359
 yr2004                                               18995
 yr2005                                               97500
 yr2006                                              142300
 yr2007                                              144600
 yr2008                                              239200
 yr2009                                              299300
 yr2010                                              378300
 yr2011                                              499198
 yr2012                                              619942
 yr2013                                              922016
 yr2014                                         1.03013e+06
 yr2015                                         1.03901e+06
 yr2016                                         1.02369e+06
 yr2017                                         1.09464e+06
 yr2018                                         1.22523e+06,
                              0
 Country  GermanyGermanyGermany
 yr1970                   19477
 yr1971                   16484
 yr1972                   21321
 yr1973                   19436
 yr1974                   19734
 yr1975                   18461
 yr1976                   17613
 yr1977                   18210
 yr1978                   15821
 yr1979                   14851
 yr1980                   13074
 yr1981                   13400
 yr1982                   14300
 yr1983                   13200
 yr1984                   13000
 yr1985                   13500
 yr1986                   12300
 yr1987                   12612
 yr1988                    9719
 yr1989                    8006
 yr1990                    3564
 yr1991                       0
 yr1992                       0
 yr1993                       0
 yr1994                       0
 yr1995                       0
 yr1996                       0
 yr1997                       0
 yr1998                       0
 yr1999                       0
 yr2000                       0
 yr2001                       0
 yr2002                       0
 yr2003                       0
 yr2004                       0
 yr2005                       0
 yr2006                       0
 yr2007                       0
 yr2008                       0
 yr2009                       0
 yr2010                       0
 yr2011                       0
 yr2012                       0
 yr2013                       0
 yr2014                       0
 yr2015                       0
 yr2016                       0
 yr2017                       0
 yr2018                       0,
                                             0
 Country  Republic of SerbiaRepublic of Serbia
 yr1970                                      0
 yr1971                                      0
 yr1972                                      0
 yr1973                                      0
 yr1974                                      0
 yr1975                                      0
 yr1976                                      0
 yr1977                                      0
 yr1978                                      0
 yr1979                                      0
 yr1980                                      0
 yr1981                                      0
 yr1982                                      0
 yr1983                                      0
 yr1984                                      0
 yr1985                                      0
 yr1986                                      0
 yr1987                                      0
 yr1988                                      0
 yr1989                                      0
 yr1990                                      0
 yr1991                                      0
 yr1992                                  97811
 yr1993                                  57375
 yr1994                                  74351
 yr1995                                  74619
 yr1996                                  69467
 yr1997                                  73567
 yr1998                                  70900
 yr1999                                  51700
 yr2000                                  46000
 yr2001                                  31000
 yr2002                                  23100
 yr2003                                  15500
 yr2004                                  13800
 yr2005                                  11600
 yr2006                                  11100
 yr2007                                  16500
 yr2008                                  17600
 yr2009                                  19400
 yr2010                                  22800
 yr2011                                  26100
 yr2012                                  32200
 yr2013                                  36200
 yr2014                                  33739
 yr2015                                  29827
 yr2016                                  41300
 yr2017                                  44800
 yr2018                                  44100,
                         0
 Country  ZimbabweZimbabwe
 yr1970              24000
 yr1971              23300
 yr1972              31800
 yr1973              35000
 yr1974              40000
 yr1975              47579
 yr1976              48186
 yr1977              34767
 yr1978              33848
 yr1979              29724
 yr1980              26901
 yr1981              24583
 yr1982              24800
 yr1983              21560
 yr1984              22687
 yr1985              20700
 yr1986              20600
 yr1987              18800
 yr1988              16116
 yr1989              15800
 yr1990              14800
 yr1991              13811
 yr1992               9673
 yr1993               8187
 yr1994               9350
 yr1995               8045
 yr1996               9028
 yr1997               6832
 yr1998               2941
 yr1999               4977
 yr2000                558
 yr2001               2057
 yr2002               2502
 yr2003               2767
 yr2004               2383
 yr2005               2570
 yr2006               2581
 yr2007               2681
 yr2008               2827
 yr2009               3572
 yr2010               4629
 yr2011               6555
 yr2012               6665
 yr2013               8285
 yr2014               8261
 yr2015               8218
 yr2016               9101
 yr2017               8839
 yr2018               9077,
                     0
 Country  RussiaRussia
 yr1970         925000
 yr1971         990000
 yr1972       1.03e+06
 yr1973       1.06e+06
 yr1974       1.06e+06
 yr1975        1.1e+06
 yr1976       1.13e+06
 yr1977        1.1e+06
 yr1978       1.14e+06
 yr1979       1.13e+06
 yr1980         980000
 yr1981          1e+06
 yr1982       1.01e+06
 yr1983       1.02e+06
 yr1984       1.02e+06
 yr1985       1.03e+06
 yr1986       1.03e+06
 yr1987       1.01e+06
 yr1988         990000
 yr1989         950000
 yr1990         900000
 yr1991         840000
 yr1992         680000
 yr1993         594000
 yr1994         573300
 yr1995         525900
 yr1996         523000
 yr1997         505000
 yr1998         530000
 yr1999         535000
 yr2000         530000
 yr2001         540000
 yr2002         662100
 yr2003         650000
 yr2004         630000
 yr2005         640000
 yr2006         675000
 yr2007         690000
 yr2008         705000
 yr2009         675700
 yr2010         702700
 yr2011         587900
 yr2012         582900
 yr2013         655900
 yr2014         691500
 yr2015         711400
 yr2016         702300
 yr2017         762300
 yr2018         785300]

In [20]:
subdf_list[0]

                                                         0
Country  Democratic Republic of the CongoDemocratic Rep...
yr1970                                              385948
yr1971                                              409770
yr1972                                              443986
yr1973                                              492223
yr1974                                              501431
yr1975                                              465846
yr1976                                              444356
yr1977                                              453731
yr1978                                              473128
yr1979                                              402416
yr1980                                              463502
yr1981                                              506726
yr1982                                              505485
yr1983                                              504307
yr1984                                              500220
yr1985                                              504335
yr1986                                              503300
yr1987                                              502184
yr1988                                              506320
yr1989                                              442800
yr1990                                              352400
yr1991                                              236100
yr1992                                              144300
yr1993                                               60000
yr1994                                               40642
yr1995                                               34958
yr1996                                               40165
yr1997                                               39651
yr1998                                               38236
yr1999                                               33000
yr2000                                               33000
yr2001                                               37845
yr2002                                               27359
yr2003                                               16359
yr2004                                               18995
yr2005                                               97500
yr2006                                              142300
yr2007                                              144600
yr2008                                              239200
yr2009                                              299300
yr2010                                              378300
yr2011                                              499198
yr2012                                              619942
yr2013                                              922016
yr2014                                         1.03013e+06
yr2015                                         1.03901e+06
yr2016                                         1.02369e+06
yr2017                                         1.09464e+06
yr2018                                         1.22523e+06

#### 3.4) Create a new dataframe for each of the countries by extracting each dataframe from the list and transposing the dataframe.

In [21]:
DRC=subdf_list[0].T
G=subdf_list[1].T
RS=subdf_list[2].T
Z=subdf_list[3].T
R=subdf_list[4].T

In [22]:
DRC

,Country,yr1970,yr1971,yr1972,yr1973,yr1974,yr1975,yr1976,yr1977,yr1978,...,yr2009,yr2010,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018
0,Democratic Republic of the CongoDemocratic Rep...,385948,409770,443986,492223,501431,465846,444356,453731,473128,...,299300,378300,499198,619942,922016,1.03013e+06,1.03901e+06,1.02369e+06,1.09464e+06,1.22523e+06

In [23]:
#Alternatively can define a function that is assigned to the new dataframe variable and called with 
#the index of the dataframe in the list and transposed in the one line, rather then assigning the 
#subdf to the variable.
#def function():
    #df_list=[]
    #for country in country_list:
        #subdf=(cu_mined_70_18[cu_mined_70_18['Country'] == country])
        #summed=subdf.sum(skipna=True)
        #DF = pd.DataFrame(summed)
        #df_list.append(DF)
    #return df_list

In [24]:
#DRC=function()[0].T
#DRC

#### 3.5) Join all 5 dataframes into one dataframe.

In [25]:
subdf_concat=pd.concat([DRC, G, RS, Z, R])
subdf_concat

,Country,yr1970,yr1971,yr1972,yr1973,yr1974,yr1975,yr1976,yr1977,yr1978,...,yr2009,yr2010,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018
0,Democratic Republic of the CongoDemocratic Rep...,385948,409770,443986,492223,501431,465846,444356,453731,473128,...,299300,378300,499198,619942,922016,1.03013e+06,1.03901e+06,1.02369e+06,1.09464e+06,1.22523e+06
0,GermanyGermanyGermany,19477,16484,21321,19436,19734,18461,17613,18210,15821,...,0,0,0,0,0,0,0,0,0,0
0,Republic of SerbiaRepublic of Serbia,0,0,0,0,0,0,0,0,0,...,19400,22800,26100,32200,36200,33739,29827,41300,44800,44100
0,ZimbabweZimbabwe,24000,23300,31800,35000,40000,47579,48186,34767,33848,...,3572,4629,6555,6665,8285,8261,8218,9101,8839,9077
0,RussiaRussia,925000,990000,1.03e+06,1.06e+06,1.06e+06,1.1e+06,1.13e+06,1.1e+06,1.14e+06,...,675700,702700,587900,582900,655900,691500,711400,702300,762300,785300

#### Replace the multiple country names in each row with one country name.

In [26]:
subdf_concat['Country']=subdf_concat['Country'].replace({'Republic of SerbiaRepublic of Serbia':'Republic of Serbia', 'GermanyGermanyGermany':'Germany','Democratic Republic of the CongoDemocratic Republic of the CongoDemocratic Republic of the Congo':'Democratic Republic of the Congo','ZimbabweZimbabwe':'Zimbabwe','RussiaRussia':'Russia'})

In [27]:
subdf_concat

,Country,yr1970,yr1971,yr1972,yr1973,yr1974,yr1975,yr1976,yr1977,yr1978,...,yr2009,yr2010,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018
0,Democratic Republic of the Congo,385948,409770,443986,492223,501431,465846,444356,453731,473128,...,299300,378300,499198,619942,922016,1.03013e+06,1.03901e+06,1.02369e+06,1.09464e+06,1.22523e+06
0,Germany,19477,16484,21321,19436,19734,18461,17613,18210,15821,...,0,0,0,0,0,0,0,0,0,0
0,Republic of Serbia,0,0,0,0,0,0,0,0,0,...,19400,22800,26100,32200,36200,33739,29827,41300,44800,44100
0,Zimbabwe,24000,23300,31800,35000,40000,47579,48186,34767,33848,...,3572,4629,6555,6665,8285,8261,8218,9101,8839,9077
0,Russia,925000,990000,1.03e+06,1.06e+06,1.06e+06,1.1e+06,1.13e+06,1.1e+06,1.14e+06,...,675700,702700,587900,582900,655900,691500,711400,702300,762300,785300

#### 3.6) Remove duplicate rows from original dataframe and append sub-dataframe with summed rows

In [28]:
duplicate_index = cu_mined_70_18.loc[cu_mined_70_18['Country'].isin(['Democratic Republic of the Congo','Russia',
                                                       'Germany','Republic of Serbia','Zimbabwe'])]
duplicate_index

,Country,yr1970,yr1971,yr1972,yr1973,yr1974,yr1975,yr1976,yr1977,yr1978,...,yr2009,yr2010,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018
14,Democratic Republic of the Congo,269.0,2070.0,5485.0,3709.0,2100.0,918.0,408.0,1015.0,595.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,Germany,18000.0,15000.0,20000.0,18000.0,18000.0,16500.0,16000.0,17000.0,15000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,Germany,1477.0,1484.0,1321.0,1436.0,1734.0,1961.0,1613.0,1210.0,821.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54,Zimbabwe,24000.0,23300.0,31800.0,35000.0,40000.0,47579.0,48186.0,34767.0,33848.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57,Russia,925000.0,990000.0,1030000.0,1060000.0,1060000.0,1100000.0,1130000.0,1100000.0,1140000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66,Democratic Republic of the Congo,385679.0,407700.0,438501.0,488514.0,499331.0,464928.0,443948.0,452716.0,472533.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68,Zimbabwe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3572.0,4629.0,6555.0,6665.0,8285.0,8261.0,8218.0,9101.0,8839.0,9077.0
69,Germany,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
71,Democratic Republic of the Congo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,299300.0,378300.0,499198.0,619942.0,922016.0,1030129.0,1039007.0,1023687.0,1094638.0,1225227.0
77,Russia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,675700.0,702700.0,587900.0,582900.0,655900.0,691500.0,711400.0,702300.0,762300.0,785300.0
79,Republic of Serbia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19400.0,22800.0,26100.0,32200.0,36200.0,33739.0,29827.0,41300.0,44800.0,44100.0
80,Republic of Serbia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
cu_mined_70_18.shape

(90, 50)

In [30]:
cu_mined_70_18 = cu_mined_70_18.drop([14, 21, 22, 54, 57, 66, 68, 69, 71, 77, 79, 80])

In [31]:
cu_mined_70_18.shape

(78, 50)

In [32]:
cu_mined_70_18 = cu_mined_70_18.append(subdf_concat, ignore_index=True)

In [33]:
cu_mined_70_18.shape

(83, 50)

In [34]:
cu_mined_70_18.tail(10)

,Country,yr1970,yr1971,yr1972,yr1973,yr1974,yr1975,yr1976,yr1977,yr1978,...,yr2009,yr2010,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018
73,Dominican Republic,0,0,0,0,0,0,0,0,0,...,12937,10015,11777,11737,10379,9262,7324,9725,9618,8588
74,Eritrea,0,0,0,0,0,0,0,0,0,...,0,0,0,0,21800,88900,61600,25300,7900,17300
75,Kyrgyzstan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,700,3100,8200,7500,7200
76,Slovakia,0,0,0,0,0,0,0,0,0,...,14,22,28,31,40,46,58,39,32,21
77,Tajikistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,600,100,1400,2500,6100,0
78,Democratic Republic of the Congo,385948,409770,443986,492223,501431,465846,444356,453731,473128,...,299300,378300,499198,619942,922016,1.03013e+06,1.03901e+06,1.02369e+06,1.09464e+06,1.22523e+06
79,Germany,19477,16484,21321,19436,19734,18461,17613,18210,15821,...,0,0,0,0,0,0,0,0,0,0
80,Republic of Serbia,0,0,0,0,0,0,0,0,0,...,19400,22800,26100,32200,36200,33739,29827,41300,44800,44100
81,Zimbabwe,24000,23300,31800,35000,40000,47579,48186,34767,33848,...,3572,4629,6555,6665,8285,8261,8218,9101,8839,9077
82,Russia,925000,990000,1.03e+06,1.06e+06,1.06e+06,1.1e+06,1.13e+06,1.1e+06,1.14e+06,...,675700,702700,587900,582900,655900,691500,711400,702300,762300,785300

#### Check that there are no duplicates names in the country column

In [35]:
cu_mined_70_18.Country.value_counts()[0]==1

True

#### Check there are no NaN in the year columns

In [36]:
cu_mined_70_18.iloc[:,1:48].notnull().all()

yr1970    True
yr1971    True
yr1972    True
yr1973    True
yr1974    True
yr1975    True
yr1976    True
yr1977    True
yr1978    True
yr1979    True
yr1980    True
yr1981    True
yr1982    True
yr1983    True
yr1984    True
yr1985    True
yr1986    True
yr1987    True
yr1988    True
yr1989    True
yr1990    True
yr1991    True
yr1992    True
yr1993    True
yr1994    True
yr1995    True
yr1996    True
yr1997    True
yr1998    True
yr1999    True
yr2000    True
yr2001    True
yr2002    True
yr2003    True
yr2004    True
yr2005    True
yr2006    True
yr2007    True
yr2008    True
yr2009    True
yr2010    True
yr2011    True
yr2012    True
yr2013    True
yr2014    True
yr2015    True
yr2016    True
dtype: bool

In [37]:
cu_mined_70_18.iloc[:,1:48].notnull().all().all()

True

### 4) Save the merged clean file to csv

In [38]:
cu_mined_70_18.to_csv('clean_cu_mined_70_18.csv', index=False)

In [39]:
cu_mined_70_18

,Country,yr1970,yr1971,yr1972,yr1973,yr1974,yr1975,yr1976,yr1977,yr1978,...,yr2009,yr2010,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018
0,Albania,6000,6500,6700,7000,7000,9000,10000,10000,11500,...,2600,2672,4379,5691,5087,3503,2106,218,0,2601
1,Algeria,574,514,428,353,350,378,400,400,200,...,0,0,0,0,0,0,0,0,0,0
2,Argentina,461,497,1125,284,315,380,265,169,319,...,143084,140300,116700,135700,109600,102600,61800,81900,33300,17400
3,Australia,157790,177261,185843,220335,251340,218961,218480,221579,222111,...,855892,871963,960649,921390,1.001e+06,978534,995881,947555,849121,913336
4,Austria,2262,2575,2231,2713,2612,1923,1138,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Bolivia,8700,7809,8400,7971,7433,5882,4680,3670,3267,...,620,2100,4176,8700,7549,10746,9479,8718,7219,5200
6,Botswana,0,0,0,600,2755,6504,12473,11788,14615,...,24382,48026,31929,35768,48500,38000,9162,12415,1239,1462
7,Brazil,3920,5418,4455,3412,3075,1922,54,0,0,...,211692,213548,213760,223141,270979,301197,359463,337600,384542,381000
8,Bulgaria,42000,44400,46300,48000,51600,55000,57000,57000,57000,...,110652,112904,114603,118255,115149,108323,111746,109702,109078,109400
9,Myanmar,70,80,80,75,70,86,92,100,100,...,9800,10000,12000,25000,33000,42000,71000,95000,116000,154000
10,Canada,610281,654470,719672,823942,821381,733826,730930,759423,659380,...,484605,522172,566779,580082,652595,672729,714647,693059,597194,539473
11,Chile,685600,708300,716900,735400,899700,828300,1.0052e+06,1.0562e+06,1.0342e+06,...,5.3944e+06,5.4189e+06,5.2628e+06,5.4339e+06,5.776e+06,5.7611e+06,5.7721e+06,5.5526e+06,5.5035e+06,5.8316e+06
12,China,0,0,115000,120000,130000,140000,150000,155000,160000,...,1.062e+06,1.1558e+06,1.2947e+06,1.5768e+06,1.71515e+06,1.77679e+06,1.71206e+06,1.90019e+06,1.7064e+06,1.591e+06
13,Colombia,0,0,0,0,0,0,260,78,100,...,1140,711,808,781,659,4118,5463,8493,9355,10371
14,Cuba,400,0,1827,2107,2901,2777,2898,2583,2821,...,0,0,0,0,0,0,0,0,0,0
15,Cyprus,0,0,16767,14217,12828,9866,7900,6800,4678,...,2380,2595,3660,4328,3631,3088,2121,1754,1293,908
16,Czechia,0,0,0,0,10900,10700,8500,7800,8200,...,0,0,0,0,0,0,0,0,0,0
17,Ecuador,510,565,438,304,179,239,267,765,508,...,300,700,1400,1800,4700,3000,1800,1000,8200,8000
18,Finland,30900,28500,34800,38213,36667,38000,41700,52113,52089,...,14600,14700,14000,25446,38763,42790,41085,47488,53144,46755
19,France,250,248,472,414,392,183,188,128,200,...,0,0,0,0,0,0,0,0,0,0
20,Greece,0,0,0,0,1500,2500,2600,3500,1500,...,0,0,0,0,0,0,0,0,0,0
21,Guatemala,0,0,0,0,1600,3300,3500,2500,2023,...,0,0,0,0,0,0,0,0,0,0
22,Haiti,4848,6500,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Honduras,0,0,0,0,0,200,364,535,427,...,0,0,0,0,0,0,0,0,0,0
24,Hungary,0,0,0,0,0,400,262,304,203,...,0,0,0,0,0,0,0,0,0,0
25,India,9700,11096,15669,15785,20457,25155,25400,29011,26640,...,28491,31778,31375,29281,32194,24889,32493,31999,33678,37000
26,Indonesia,0,0,5000,37900,64600,63500,69100,57100,58000,...,995500,863900,538300,398100,509300,378500,578600,728000,622030,651136
27,Iran,0,0,0,0,4000,4000,6000,6000,6000,...,262500,256700,258900,245500,222900,216800,246400,289300,295621,316500
28,Ireland,8281,11800,13656,13046,12700,9839,4097,4829,4700,...,0,0,0,0,0,0,0,0,0,0
29,Israel,10988,10700,11175,10165,9488,8035,2100,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Italy,2300,1540,1049,858,900,800,1000,700,531,...,0,0,0,0,0,0,0,0,0,0
31,Japan,119513,120551,112114,91280,82135,84639,81606,81395,71951,...,0,0,0,0,0,0,0,0,0,0
32,Kenya,79,73,72,70,70,70,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,South Korea,1639,1773,2082,2321,3235,2330,2097,1688,715,...,0,0,0,0,0,0,0,0,0,0
34,North Korea,13000,13000,13000,13000,14000,15000,15000,15000,15000,...,3700,4600,7000,17000,15000,7700,8600,12600,1800,0
35,Malaysia,0,0,0,0,0,3800,18200,24000,26000,...,240,0,0,0,0,0,0,0,0,0
36,Mauritania,1950,4740,15051,21277,20079,6582,10000,7640,1773,...,36608,36969,35281,37670,37970,33079,45001,32820,28791,28138
37,Mexico,61012,63150,78720,80501,82670,78196,88970,89662,87186,...,240648,270136,443621,500275,480124,515025,594451,766129,742246,696580
38,Mongolia,0,0,0,0,0,0,0,0,4000,...,132300,127600,124000,123900,189000,253000,318000,516000,475000,458780
39,Morocco,3172,2595,3831,4149,4670,4600,4400,3370,4300,...,11830,14986,12076,14750,11575,16579,19903,23586,24603,23859
40,Mozambique,0,0,0,0,0,0,2000,3000,300,...,0,0,0,0,0,0,0,0,0,0
41,Namibia,23000,25900,21500,28300,33200,34900,43500,49200,37700,...,0,0,3366,5304,4896,5249,14010,16653,15534,15177
42,New Zealand,47,85,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Nicaragua,3029,3662,2188,1545,1775,600,800,300,0,...,0,0,0,0,0,0,0,0,0,0
44,Norway,19947,21672,26007,29947,24120,26647,31080,29053,29073,...,0,0,0,0,0,0,0,0,0,0
45,Oman,0,0,0,0,0,0,0,0,0,...,15563,16530,21166,19684,10906,13699,7828,0,0,0
46,Papua New Guinea,0,0,124000,182900,184100,172477,176519,182291,198603,...,166669,159821,130456,125326,105523,75901,45185,80022,105419,96287
47,Peru,220225,207346,219126,202686,211593,165813,220269,338110,366753,...,1.27625e+06,1.24718e+06,1.23534e+06,1.29876e+06,1.37564e+06,1.37764e+06,1.70082e+06,2.35386e+06,2.44558e+06,2.43695e+06
48,Philippines,160292,197573,213695,221195,225485,225775,237588,272792,263589,...,49060,58412,63835,65444,90861,91824,83835,83649,68156,69933
49,Poland,83000,122300,135000,152000,185000,230000,263000,282000,312000,...,439365,425725,426665,427064,428879,421285,426196,424000,419000,401300
50,Portugal,3762,3957,543,651,568,447,387,3208,2962,...,86462,74426,79686,74043,77236,75433,83081,74453,63812,49064
51,Romania,0,0,30000,40000,40000,44000,30000,27000,27000,...,3129,5127,6355,5902,6800,7200,3600,7300,7400,8100
52,South Africa,144200,148400,161927,175797,179111,178927,196880,205414,205745,...,107600,102600,96600,88800,80821,78697,77360,65257,65503,46900
53,Spain,9522,34032,39900,51588,46753,30020,34867,43462,40448,...,17663,54335,68511,99894,104600,103900,112690,167736,198353,185237
54,Sweden,26283,30200,30619,44819,40637,40634,44860,44764,47412,...,55414,76514,82967,82422,82904,79345,75125,78992,104450,106142
55,Taiwan,2500,2400,1996,2400,2500,1900,2000,2000,800,...,0,0,0,0,0,0,0,0,0,0
56,Turkey,31100,30000,22100,30200,30000,27300,29323,34979,27188,...,72400,79900,92500,104300,120500,122000,108000,100000,83000,79600
57,United States of America,1.56004e+06,1.38089e+06,1.51032e+06,1.55849e+06,1.44878e+06,1.28218e+06,1.45656e+06,1.36438e+06,1.35759e+06,...,1.18e+06,1.11e+06,1.1129e+06,1.1668e+06,1.2782e+06,1.3847e+06,1.4163e+06,1.4619e+06,1.29e+06,1.25e+06
58,Uganda,0,0,0,14200,11500,8500,7000,4000,7200,...,0,0,0,0,0,0,0,0,0,0
59,United Kingdom,0,0,238,459,434,652,552,453,135,...,0,0,0,0,0,0,0,0,0,0
60,Yugoslavia,90808,94392,103133,111797,112080,114894,120130,116218,123319,...,0,0,0,0,0,0,0,0,0,0
61,Zambia,684100,651400,717700,706574,697956,647163,711681,658788,654012,...,601200,767008,663400,695200,759800,708259,710860,725359,797266,851089
62,Armenia,0,0,0,0,0,0,0,0,0,...,23233,31062,33597,40908,48891,50952,83634,102962,113560,84100
63,Georgia,0,0,0,0,0,0,0,0,0,...,16600,10600,10000,6800,10000,6800,13000,14000,15000,13000
64,Kazakhstan,0,0,0,0,0,0,0,0,0,...,406100,380600,405300,426800,454400,471700,473600,474800,557800,635500
65,Laos,0,0,0,0,0,0,0,0,0,...,121581,132047,138756,149580,154915,159696,167702,177939,153304,147019
66,Macedonia,0,0,0,0,0,0,0,0,0,...,7440,7912,7555,10600,11700,9600,11400,10200,9000,8000
67,Pakistan,0,0,0,0,0,0,0,0,0,...,19600,19900,20000,23900,20700,18000,16000,14100,15000,16700
68,Saudi Arabia,0,0,0,0,0,0,0,0,0,...,1719,1603,1954,4410,5095,10848,11563,27500,36279,67508
69,United Republic of Tanzania,0,0,0,0,0,0,0,0,0,...,3079,6400,6748,5840,5740,6363,6465,7150,1331,0
70,Uzbekistan,0,0,0,0,0,0,0,0,0,...,80000,80000,80000,95600,100000,100000,100000,100000,100000,100000
71,Vietnam,0,0,0,0,0,0,0,0,0,...,12935,12260,11888,12716,12958,20296,22524,22636,21451,23378
72,Azerbaijan,0,0,0,0,0,0,0,0,0,...,0,183,611,502,327,784,969,1941,1991,1645
73,Dominican Republic,0,0,0,0,0,0,0,0,0,...,12937,10015,11777,11737,10379,9262,7324,9725,9618,8588
74,Eritrea,0,0,0,0,0,0,0,0,0,...,0,0,0,0,21800,88900,61600,25300,7900,17300
75,Kyrgyzstan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,700,3100,8200,7500,7200
76,Slovakia,0,0,0,0,0,0,0,0,0,...,14,22,28,31,40,46,58,39,32,21
77,Tajikistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,600,100,1400,2500,6100,0
78,Democratic Republic of the Congo,385948,409770,443986,492223,501431,465846,444356,453731,473128,...,299300,378300,499198,619942,922016,1.03013e+06,1.03901e+06,1.02369e+06,1.09464e+06,1.22523e+06
79,Germany,19477,16484,21321,19436,19734,18461,17613,18210,15821,...,0,0,0,0,0,0,0,0,0,0
80,Republic of Serbia,0,0,0,0,0,0,0,0,0,...,19400,22800,26100,32200,36200,33739,29827,41300,44800,44100
81,Zimbabwe,24000,23300,31800,35000,40000,47579,48186,34767,33848,...,3572,4629,6555,6665,8285,8261,8218,9101,8839,9077
82,Russia,925000,990000,1.03e+06,1.06e+06,1.06e+06,1.1e+06,1.13e+06,1.1e+06,1.14e+06,...,675700,702700,587900,582900,655900,691500,711400,702300,762300,785300